.DS_Store
*.pem
*.crx
*.psd
V1.1/
V1.2/
V1.3/
V1.4/
V1.5/
V1.6/
V1.7.1/
My scoro fix/
My scoro fix BU/
icon dark/
icon light/
Resource Boy - Gradient Backgrounds Vol. 03/
Screenshots/*.jpeg
Screenshots/*.jpg
Screenshots/image (*).png
